.li {
  text-align: right;
 
}
.line1 {
  padding: 10px;
  text-align: center;
  font-size: 50px
}
.img-wrapper {
  display: inline-block;
  width: 30%;
  padding: 70px 19px ;
}
.img-wrapper img {
  width: 100%
}

.black-bg {
  background-color: white;
}

/* change the SVG graphic artwork with css! */
/*#lGrain:hover, #rGrain:hover {
  fill: red;}*/
